[Unit]
Description=Stonkes Worker

[Service]
WorkingDirectory=/opt/stonkes-worker
ExecStart=/usr/local/bin/stonkes-worker.sh
Restart=always

[Install]
WantedBy=multi-user.target
